[2015-06-10 21:42] rtsao opened #8 "Exporting static CSS"
Right now, the only supported way to output the modular styles at build time is to make a file like this:

[code]

then run the transform on it:
[code]

This is fairly inconvenient. I'd be much nicer if there was a way to output the final css without this additional boilerplate. This either has to be added and maintained manually or generated somehow, which necessitates even more tooling.

I was t

[2015-06-10 21:53] joeybaker commented on #8
@rtsao agreed. This is one of the largest issues with css-modulesify right now IMO. I'd vote for option 1.

[2015-06-10 22:37] joshwnj commented on #8
@rtsao @joeybaker yes Option 1 is what we're heading towards (browserify plugin that produces a css bundle alongside the js bundle).  PRs welcome :)

[2015-06-10 22:37] #8 closed

[2015-06-10 22:37] joshgillies commented on #8
Absolutely. A Browserify [plugin](https://github.com/substack/node-browserify/blob/master/readme.markdown#bpluginplugin-opts) is the appropriate course of action here. :thumbsup:

[2015-06-10 22:44] rtsao commented on #8
Cool, I can probably help with this. I just wanted to make sure everyone is on the same page.

[2015-06-10 23:02] joshgillies opened #9 "Make `css-modulesify` a Browserify plugin"
Creating this to gather feedback, and to track progress as we migrate `css-modulesify` from a simple transform into a plugin.

ping #8

[2015-06-10 23:04] joshwnj commented on #8
@rtsao :+1:

[2015-06-11 07:09] joshgillies commented on #9
Closing now that #10 has been merged. Let us know if this should be re-opened.

[2015-06-11 07:09] #9 closed

[2015-06-15 06:52] geelen opened #12 "Make the PostCSS transforms configurable."
The `FileSystemLoader` passes through the list of plugins to the loader core, but that's not configurable here. I have absolutely no idea how browserify plugins work, but if that set of plugins is configurable then this becomes basically a 'postcssify' that supports `:local` (like https://github.com/geelen/jspm-loader-css or webpack's loader without module-mode), which would be pretty neat.

[2015-06-16 14:01] pho3nixf1re opened #14 "support pre-proccessors like LESS or SASS"
Is there currently a way to use a pre-processor with this? Like Less or SASS? It would seem that the exclusion of all extensions except for `css` would preclude that unless there is another way to transform the less file name to use css after it gets transformed. In webpack you would just chain the loaders to accomplish this.

[2015-06-17 01:50] joshgillies commented on #14
You're correct. Currently we only address `.css` files, and while it would be possible to handle additional 'compile-to-css' languages such as Less, SASS, or Stylus -- some thought will need to be given as to how this could come together.

It might be worth looking into how `parcelify` handles this? https://github.com/rotundasoftware/parcelify#application-level-transforms

[2015-06-22 06:41] joshgillies commented on #12
Support for this has just been released! Closing.

[2015-06-22 06:41] #12 closed

[2015-06-25 17:41] mlmorg opened #15 "Files with same name can produce same css classes"
If you have two files with the same name (e.g. `foo.css`) both with the same local css class (e.g. `.bar`) but with different declarations, the resulting css looks something like:

[code]

What are your thoughts on the best way to handle this?

[2015-06-25 18:28] rtsao commented on #15
The Webpack implementation allows you appends a hash of the content to the class name.
https://github.com/webpack/css-loader/blob/master/lib/getLocalIdent.js#L13
https://github.com/webpack/loader-utils/blob/master/index.js#L226

We need to be able to configure https://github.com/css-modules/postcss-modules-scope/blob/master/src/index.js#L159 to do something similar, but currently only the name and

[2015-06-26 10:30] joshwnj commented on #15
Good call. I think it would be good to look into matching the behaviour of the webpack implementation but at this stage not sure how deep that goes - it may be a lot of work for not much value.  We may well find some other method of deduping that fits easier with the workflow.

[2015-06-29 01:26] geelen commented on #15
This is strange, I thought the name being generated is the full *path* of the file, so it would be `._lib_foo__bar` and `._util_foo__bar`. That's how this line is intended to work: https://github.com/css-modules/postcss-modules-scope/blob/master/src/index.js#L160

[2015-06-29 01:48] joshwnj commented on #15
@geelen yeah that's what I thought too... but it seems under certain circumstances it won't work that way. I'd like to try to get full paths working as well, because it gives some useful info to the developer. But I'm thinking it would be good to be able to use the hash for uniquifying as well (since that's what webpack is doing too).

[2015-06-29 01:50] geelen commented on #15
If you're just hashing the path & the classname, won't the hashes be identical too?

[2015-06-29 01:52] joshwnj commented on #15
nah I'm hashing the source css

[2015-06-29 01:52] geelen commented on #15
Ah cool, alright i'll push through your change this arvo

[2015-06-29 01:52] joshwnj commented on #15
cheers!

[2015-06-29 08:57] geelen commented on #15
`postcss-modules-scope@0.0.8` released, guessing this is now covered under #16 so I'll close this

[2015-06-29 08:57] #15 closed

[2015-07-01 17:07] mlmorg commented on #15
Not quite. `css-modules-loader-core` needs to have `postcss-modules-scope` bumped to `0.0.8`.

Better yet, bump everything to `1.0.0` so that you don't need to do those bumps manually anymore :)

[2015-07-02 19:07] joeybaker opened #17 "feature request: ability to get output as a stream"
In order to use this module programmatically, it would be great to be able to get a stream with the output CSS instead of always writing to the file system.

[2015-07-02 22:39] joshgillies commented on #17
Agreed! :)
On 3 Jul 2015 05:08, "Joey Baker" <notifications@github.com> wrote:

[2015-07-03 00:50] joshwnj commented on #17
+1

[2015-07-06 08:21] sullenor opened #20 "feature request: add possibility to compile css-modules on the fly"
Hello there!

I thought it would be nice to have a require hook like in [babel](http://babeljs.io/docs/usage/require/). So it will allow you to use css-modules in the universal apps (execute code both on the client and the server).

[2015-07-06 10:04] joshwnj commented on #20
It sure would. Take a look at what @joeybaker has been putting together for a similar need over at https://github.com/css-modules/css-modules/issues/13

[2015-07-06 12:48] sullenor commented on #20
Thank you for the answer, i'll take a look on it.

[2015-07-08 22:50] #20 closed

[2015-07-19 23:56] thejameskyle opened #22 "File name conflicts"
Since css-modulesify only looks at the current file name it can easily run into conflicts with nested directories

**Input**

[code]

[code]

**Output**

[code]

[2015-07-20 00:02] joshwnj commented on #22
Hi @thejameskyle, you're right that this is the default behaviour, but we recently added support to append a hash to the classnames: https://github.com/css-modules/css-modulesify/blob/master/index.js#L9-L19

And you can see it in action here when you inspect the dom: http://css-modules.github.io/browserify-demo/

[2015-07-20 00:02] #22 closed

[2015-07-20 16:24] thejameskyle commented on #22
You might want to enable that by default, otherwise the main benefit of this tool is a false promise.

[2015-07-20 23:12] joshwnj commented on #22
Yeah I like the idea of enabling by default too. Definitely on the map for near future.

[2015-08-05 15:49] joezimjs commented on #14
:+1:

[2015-08-06 10:23] joshwnj opened #26 "Other ways to add postcss plugins"
Currently if you use the `-u` option it overrides all postcss plugins, including the css-modules ones, and you have to manually add them back.  I can think of some cases when you'd want to do this but it feels like militant-level modularity :)

@joshgillies what would you think about a `postcssAfter` (and possibly `postcssBefore`) option, which allows you to add postcss plugins to the transformati

[2015-08-06 13:38] joeybaker commented on #26
Would it be possible to loop through the list of plugins the user provided and add in the rehired ones if they're missing?

[2015-08-06 22:26] joshwnj commented on #26
@joeybaker yep we potentially could do that, I'm just questioning whether we'd ever want to remove the default plugins only to re-add them. Do you have a use case in mind?

I want to gear this to be obvious for the most common cases, which at the moment feels like this:

- 80%: add some extra postcss plugins _after_ the default css-modules transformation
- 15%: add some extra postcss plugins _befo

[2015-08-06 22:45] joeybaker commented on #26
Heh… well, I guess I fall in the 5%. I wanted to configure the one of the default plugins with my custom options. So, I guess your "hook" based solution would work if there was a way to pass options to the default plugins?

[2015-08-06 22:48] joshwnj commented on #26
:) hey, don't take my word for it - I'm just guessing about usage patterns (and going by how I'm using it personally).

Can you give an example of what custom options you're passing? That will give me a better idea of how people are using it.

[2015-08-06 22:49] joeybaker commented on #26
Sure, for postCssModulesScope, I'm passing a custom `generateScopedName` function.

[2015-08-06 23:31] joshwnj commented on #26
Cool. I think that particular one will be more like a 50% case, and I'd like a better way to do this too :) Would it work well for you if you could configure the custom name function at the `css-modulesify` level, rather than having to pass it to a certain postcss plugin?

[2015-08-06 23:41] joeybaker commented on #26
Totally. Works great as long as none of the other default plugins ever take options :)

Maybe just have the default plugins take options the same way other plugins do? e.g. `options[name]`?

[2015-08-07 00:00] joshwnj commented on #26
What I'm thinking is more like adding a `--customName` option to css-modulesify (can be a function or a path to a single-function-module). It can figure out which postcss plugin needs to be configured.

Would that work for you?

[2015-08-07 00:07] joeybaker commented on #26
Yea, that totally makes sense. I'm saying that in addition to that though, it would be nice to have the flexibility to configure all the default plugins the same way we configure plugins we hand in. It's a "nice to have"

[2015-08-07 00:19] joshwnj commented on #26
Ah gotcha. I think part of the challenge here is to find the tradeoff between "everything is customizable" and "things just work".  For the purpose of css-modulesify I'd rather lean to the latter and not expose too much of the inner machinery.  Even though it's made up of a few different postcss plugins, we should really consider them a single thing, because they are all intended to work together

[2015-08-07 00:33] joeybaker commented on #26
Yea. I like simplicity (and therefore the `--customName` idea). But I'd think that allowing the default plugins to be configured would be simpler than a custom loader?

[2015-08-07 00:38] joshwnj commented on #26
You might be right there :) I'm happy to try out both ways.

The issue I see with customizing core plugins from css-modulesify is that we'd be exposing an API that is 2 levels deep. I'd rather we deal directly with `css-modules-loader-core` and then let it be responsible for instructing whatever plugins it uses.

[2015-08-07 00:40] joeybaker commented on #26
Interesting. What does the CLI API look like? `--loader `npm-module-name`?

[2015-08-07 00:44] joshwnj commented on #26
Yeah I thinking something like that. What if we said that for the CLI `module-name` can be anything that resolves to a module:

- `--loader ./src/my-custom-loader`
- `--loader module-from-npm`

If all you wanted was to pass in some custom options to the default loader, `./src/my-custom-loader.js` would just `require('css-modules-loader-core')` and export after applying customizations.

[2015-08-07 00:48] joeybaker commented on #26
Makes sense. I'm not still not convinced it's simpler than allowing users to pass options to the defaults, but I also don't think the two things are mutually exclusive, so WFM!

[2015-08-07 00:50] joshwnj commented on #26
Thanks for nutting this out with me!  I can definitely see the 2 approaches working in tandem, if we find in future there is a need for both.

[2015-08-07 01:02] joeybaker commented on #26
:+1:

[2015-08-19 18:07] jedrichards opened #28 "Why overload require?"
Thanks for the work on this! I'm really interested in CSS Modules, but confused about the decision to use the `require` function to load CSS files since this breaks universal JavaScript.

Surely a better solution would be something like,

[code]

Once bundled and running on the client any calls to `css.load()` will return the appropriate pre-processed styles object. When running on the server in a

[2015-08-19 18:46] jedrichards commented on #28
Oh, I've just found https://github.com/css-modules/css-modules/issues/13 ... now reading!

[2015-08-19 22:51] geelen commented on #28
Yep, you can use https://github.com/css-modules/css-modules-require-hook for this!

[2015-08-19 22:51] #28 closed

[2015-08-19 23:57] joshgillies opened #29 "Discussion 1.0 release"
Ok I think it's time we start a little shopping list of features we'd like to see in the 1.0 release of `css-modulesify`. Given the press CSS Modules are getting at present we should aim to keep this project inline what the JSPM and WebPack implementations offer, whilst leveraging what Browserify offers it's uses as best we can.

At present there's a few issues currently outstanding which contain

[2015-08-20 00:01] joshwnj commented on #29
On one hand I wonder if it makes sense for `css-modulesify` to go to 1.0 before `css-modules-loader-core` does?  Since there may still be changes there.

I guess it mainly means that when `css-modules-loader-core` goes 1.0 we may need to bump to 2.0 (if there are breaking changes). Which is fine - the numbers don't need to mean anything in themselves.

[2015-08-20 00:03] joshwnj commented on #29
One thing I definitely want to nail before we go 1.0 is a solid workflow for hot reloading, since this is something that might require some changes to css-modulesify.

[2015-08-20 00:18] joeybaker commented on #29
A thing I've noticed but haven't had time to investigate: css-modulesify outputs no css on subsequent builds with https://github.com/bjoerge/rebundler. I suspect this is because css files aren't being added to the browserify cache because they're required by a custom loader. I'd like to get this fixed for a 1.0 but won't have the time to look at it for several weeks.

Aside from that, @joshwnj, yo

[2015-08-20 00:23] joshgillies commented on #29
Oh yeah I don't think we need to wait on `css-modules-loader-core` to push to 1.0. Personally I'd like to take a critical look at the plugins architecture, possibly re-do it all together. Also, potentially de-couple `css-modulesify` CLI for the core API. Anyway, @joshwnj care to file an issue regarding hot-loading & @joeybaker same with the bug relating to `rebundler`?

[2015-08-20 00:29] joshwnj opened #30 "Hot loading"
As someone once wisely said to me, _"if you ain't hot-loading, you ain't coding"_.

Let's make it happen. I'd like to collect some workflow examples and if there are any changes required, bundle them in as part of the 1.0 release (#29)

[2015-08-20 01:50] joeybaker commented on #30
http://www.browsersync.io/ for css-reloading. How do you envision css-modulesify handling the task?

[2015-08-20 01:53] joshwnj commented on #30
Will take a look at browsersync, thanks. In this case we need to consider a few more edge cases than normal, since an edit to a css module may also need to trigger a rebuild / reload of a js module (if the export tokens changed).

[2015-08-20 02:00] joeybaker commented on #30
yea, I have a setup where this is done with https://github.com/mattdesl/budo/ + browsersync, I'd like to get it open sourced, but again… I won't have time for a few weeks :\

[2015-08-20 02:01] joshwnj commented on #30
cool! well if you have time to put up a demo somewhere I'd love to see

[2015-08-20 02:45] joeybaker commented on #30
This is somewhat custom to what we're doing, but it should give you an idea of how we setup budo + browsersync for a universal hot-reloading script: https://gist.github.com/joeybaker/b7324e8519952b9de76a

[2015-08-20 09:18] geelen commented on #29
I reckon I'm gonna bump loader core to 1.0 real soon anyway, I think we have enough momentum that the spec is feeling pretty solid, and I non-backwards-compatible changes would merit a `v2.0` anyway.

[2015-08-20 09:19] jedrichards commented on #28
Great, so it looks like I can use that to make `require('some.css')` work in my universal projects.

I'm still confused about the architectural decision to use `require` for loading CSS in the first place? After all its just a Node function with a reserved purpose of loading JS modules only. If the approach was something like my example above `css-modules-require-hook` wouldn't be needed at all. I

[2015-08-20 09:47] joshwnj commented on #28
yeah @jedrichards I wondered about the use of `require` too. Some factors to consider:

- when doing a browserify build, using `require` gives you a neat way to also build your css file as a side effect (with browserify plugin). Not as easy if you are using something like `css.load(...)`

- we wanted to make it consistent with the webpack and jspm implementations. Css modules is more than just a l

[2015-08-20 09:48] joshwnj commented on #29
Let's go straight to css-modules-2015

[2015-08-20 15:40] jedrichards commented on #28
Thanks for your time guys, yep its answers my questions!

[2015-08-20 16:32] joeybaker opened #32 "Load css files via browserify"
via: https://github.com/css-modules/css-modulesify/issues/29#issuecomment-132832636

[2015-08-21 01:30] tinchoz49 opened #33 "error using css files with "url""
Hi!!
I'm getting an error with css files where i have url tags inside for example:
[code]

the error is: `loader err [TypeError: Cannot read property 'rewriteUrl' of undefined]`

and i think maybe this pull request is going to fix it: https://github.com/css-modules/postcss-modules-local-by-default/pull/22

Thanks!! great plugin by the way :+1:

[2015-08-21 01:33] joshwnj commented on #33
thanks for the report @tinchoz49. Does it work if you use a relative URL? eg. `url('../images/componentOne.jpg');`

[2015-08-21 01:48] tinchoz49 commented on #33
it's nothing :) , i'm glad to help.

With relative URL is not working too.

You can check my project where i'm using the plugin, it has a tests folder with everthing.
this is the branch: https://github.com/geut/gulp-appfy-tasks/tree/testing-css-modulesify

[2015-08-21 02:06] joshwnj commented on #33
Strange, I cloned your repo and am able to see the superman image when I changed it to a relative path: `background: url('./images/superman.jpg') no-repeat;`

However it doesn't look like `css-modulesify` is actually being used here.  It will only process css files that you `require` in a js module.

[2015-08-21 02:55] serapath commented on #17
+1

[2015-08-21 03:05] tinchoz49 commented on #33
mmm thas strange. The plugin is loaded in the browserify task, line 72.

In my case without the `background: url(...` is seem that the plugin is working great. The code

[code]

In the real DOM is showing:

[code]
that is ok, right?

[2015-08-21 03:35] joshwnj commented on #33
Ah my mistake - I wasn't switched to the correct branch sorry :)

So in this case there are a couple of things:

- you'll want, as part of your build, something to copy `src/images` to `dist/images`.  The image path is fine in this case, it's just that the image file isn't where the css expects it to be.
- I see that `rewriteUrl` error you mentioned now too.

Let me know how that goes

[2015-08-21 12:38] tinchoz49 commented on #33
Ahh ok, you're right i need something to copy the assets to the `dist` path. I have a couple ideas about this tell me what do you think:

1.  For the error `rewriteUrl` maybe change the condition in line [157](https://github.com/css-modules/postcss-modules-local-by-default/blob/master/index.js) is enough.
[code]
2.a If the `css-modules-loader-core` allow us define options for the postcss instance

[2015-08-23 08:25] wenbing opened #35 "global transform breaks everything"
I'm using browserify build my `bundle-xxx.js`.

but when use `css-modulesify` plugin, it add a global transform, causes something like `brfs` broken.

because when global transform is after the local transform. `brfs` as a local transform is priority to the `css-modulesify` global transform.

while `brfs` parses the .css file, it throws a SyntaxError.

[code]

[2015-08-24 02:46] joshwnj commented on #35
Thanks for the report @wenbing. There's a related discussion going on in #31

Hopefully the `brfs` PR will be accepted so that you can upgrade to that.

I also plan to see if there's a way to get the desired result without using the `global` flag, which would also solve your issue and possibly others. If you have any ideas please let me know :)

[2015-08-24 15:27] sullenor commented on #29
Do you mind if we add some information about `rootDir` option to the readme file? I think it's vital to mention it in order to have same class names with require-hook.

[2015-08-24 19:14] serapath commented on #29
+1

[2015-08-25 02:52] wenbing commented on #35
discuss it in #31

[2015-08-25 02:52] #35 closed

[2015-08-26 09:54] royriojas commented on #17
+1

[2015-08-27 01:26] joshwnj commented on #29
@sullenor I've mentioned `rootDir` here: https://github.com/css-modules/css-modulesify/#using-css-modules-on-the-backend

Are there more things you think should be said about it?

[2015-08-27 05:12] sullenor commented on #29
@joshwnj I like yours detailed description and I think it is sufficient to understand the subject. Thank you!

[2015-08-28 19:33] dubert commented on #14
:+1:

[2015-08-30 15:08] romeovs commented on #14
:+1: this would make the plugin worthwhile for me!

[2015-08-30 15:18] romeovs opened #37 "Shorten the names."
With big css files the length of the generated names will become very long, even tough this should not be necessary.

Would it be possible to have css-modulesify generate shorter names (as short as possible)? This would decrease the size of the resulting css and js files, reducing load times.

[2015-08-30 19:06] tinchoz49 commented on #33
I'm going to close this issue because with the pull request https://github.com/css-modules/postcss-modules-local-by-default/pull/22 is fixed. :+1:

[2015-08-30 19:07] #33 closed

[2015-08-31 00:32] joshwnj commented on #14
thanks everyone for showing your interest here! To move this forward I'd like to get a more tangible idea of what kind of "support" people are hoping for.

For starters could you please all reply to this thread with an answer to these questions:

1. Are you wanting to add css-modules to a legacy codebase that already uses less/sass/stylus?  Or are you starting a new project and want to combine the

[2015-08-31 00:33] joshwnj commented on #33
Thanks @tinchoz49 !

[2015-08-31 00:44] pho3nixf1re commented on #14
1. Both. I have wanted to use this in a 'legacy' (built before me at least) app and also in a few new projects.

2. Because less/sass/stylus are incredible at organizing CSS frameworks. You can use variables (such as for colors and sizes) and functions to do common calculations. Plain CSS in a complex app is just a non-starter. I am mostly a fan of SASS if it matters. I use the webpack version of

[2015-08-31 01:25] rtsao commented on #14
One idea is to use one of the following PostCSS plugin packs instead of Sass:
https://github.com/postcss/postcss#packs

There's a good chance one of them has all the features you need.

[2015-08-31 01:32] pho3nixf1re commented on #14
I'm looking to leverage the vast amount of community frameworks and libraries built already in SASS (less/stylus etc). Rewriting various tooling and reinventing entire libraries just to use modular CSS is just not practical. I worked around the limitation by just porting the particular project that prompted this issue to use Webpack, where modular CSS works just fine with other pre-processors. It

[2015-08-31 01:36] joshwnj commented on #14
@pho3nixf1re agreed. is there an example we can see of where you're using it with webpack? That will help to drive the discussion.

My personal experience so far is the same as @rtsao, in that most of the things I would normally want from less/sass/stylus is also achievable with postcss plugins. So I'm interested to learn more about other peoples' experiences and use-cases for preprocessors, and I

[2015-08-31 01:53] joshwnj commented on #37
Hi @romeovs, it's possible to set a custom name function like https://github.com/css-modules/css-modulesify/blob/master/index.js#L13, however setting it is not particularly user-friendly at the moment.  I would love to see this fixed in [v1.0](https://github.com/css-modules/css-modulesify/issues/29) and make it use a shorter name by default.

Is this the kind of thing you had in mind?

[2015-08-31 02:05] joezimjs commented on #14
@joshwnj
1. Currently just in a new project
2. I'm using stylus because I love their lax view of syntax, so I can skip the brackets and semicolons. Also, I want variables. I can probably find or make some plugins for PostCSS for this, but I also already have Stylint set up to lint my Stylus code. If it's a ton of effort, I can definitely ditch Stylus without too much sorrow, but it'd be nice to ma

[2015-08-31 02:27] joshwnj commented on #14
thanks @joezimjs - would you be happy to create an example github repo that demonstrates the kind of usage you're after? That will really help in this discussion.

[2015-08-31 03:02] rtsao commented on #29
IMHO dead code elimination should be a feature for 1.0: https://github.com/css-modules/css-modules-loader-core/issues/13

It seems to me that lack of dead code elimination is a barrier from use in production. For example, if a single class is composed from a css file containing 100 classes, all 99 unused classes are included.

[2015-08-31 03:06] joshwnj opened #38 "Dead code elimination"
@rtsao has implemented dead code elimiation functionality into https://github.com/css-modules/css-modules-loader-core/issues/13

Next step here is to trial it with css-modulesify to understand better any tradeoffs involved.

[2015-08-31 03:07] joshwnj commented on #29
good idea @rtsao. I've added #38 to the v1.0 milestone.

[2015-08-31 11:10] royriojas commented on #29
hey guys, very nice module, what about to provide a wrapper function over the exported classes?

Current version
[code]

I would prefer something like

[code]

This problem is mentioned [here](https://github.com/gajus/react-css-modules#whats-the-problem)

And I have also made an implementation for something similar on this [experimental transform](https://github.com/royriojas/simplessy/blob/master

[2015-08-31 11:42] sullenor commented on #29
@royriojas Am I right that you want to solve possible problems with typos?

[2015-08-31 22:09] joshwnj commented on #14
Yeah I think it would be helpful to create a repo that shows how you would like Stylus + CSS Modules to work together. Consider it as a failing test case.

[2015-09-03 05:23] royriojas commented on #29
@sullenor yes! I had too many of them, that's why I made that small function. It is better an error than an `"undefined"` class added to the elemets

[2015-09-09 08:40] romeovs commented on #14
I've created an [example repo](https://github.com/romeovs/stylus-css-modulesify) of how a simple project using stylus + CSS modules could look.

There are a few problems relating to how to implement the loading of the stylus files (see the README).
Feel free to commit pull requests when you feel something should be done differently.

[2015-09-09 10:54] joshwnj commented on #14
@romeovs cool, thanks! Have you had a look at the possibility of using things like https://github.com/DamonOehlman/stylify or https://github.com/morlay/stylus-browserify ?

[2015-09-09 11:39] joezimjs commented on #14
Will stylify work with css-modulesify? I'm not sure this plugin works exactly or how Browserify plugins work in general, so will it be able to take the CSS output of stylify and then do its thing with that? How will it know that it should do anything to a stylus file since it isn't .css?

I can't test it because currently css-modules-loader doesn't work on Windows.

[2015-09-09 12:41] romeovs commented on #14
A bigger problem would be that css-modulesify needs the modules as separate files to be able to generate the correct "private" names.  When you hand it the (single, compiled) file stylus generates, the names will be inconsistent with the names that are exported to javascript.

[2015-09-09 13:24] joezimjs commented on #14
I'm not sure I would call that a "bigger problem" because if you can't get css-modulesify to work with the stylus files at all, that seems worse. It's certainly a large concern though. WebPack seems to really get things right with their stream of loaders, but right now I can't get it to load my CSS/Stylus files (stupid "Cannot resolve module" error). I really want to start working with CSS Modules

[2015-09-11 20:28] #32 closed

[2015-09-14 18:21] ryngonzalez opened #42 "Does not respect `browserify._options.paths` when doing dependency resolution for composes"
Where webpack and css-loader play well together when doing custom module resolution with `resolve.moduleDirectories` or `resolve.alias`, css-modulesify does not currently take into account `browserify._options.paths` when doing module resolution for composes statements.

css-modulesify should pass along the `paths` option from Browserify to css-modules-loader-core to correctly resolve composes sta

[2015-09-14 18:32] ryngonzalez opened #43 "Should pass options to core modules without needing re-inclusion"
Unless I use the `use` option to re-include the core modules, I can't pass custom options to them, like a custom class name generator.

[code]

Anyway we can pass in option without needing to do these re-inclusions?

[2015-09-15 01:33] ryngonzalez opened #44 "css-modulesify does not play well with cssnext"
I've tried with a bunch of configurations, and none seem to be working:
#### 1. In `--use` declaration
[code]
#### 2. In `--after` declaration
[code]

#### 3. Required and used in `--use` declaration
[code]

#### 4. Required and used in `--after` declaration
[code]

#### 5. Required and used in `--use` declaration, initialized with options
[code]

#### 6. Required and used in `--after` declaration

[2015-09-16 21:38] LoganBarnett commented on #14
Hey fellas, I managed to get this working with SASS. Perhaps it's not the best or most elegant solution but here is my [gulpfile](https://gist.github.com/LoganBarnett/8b499b0aa94994fde0dd).

Usage in code looks like this:
[code]
I haven't worked out the `.tmp` thing yet. If someone finds a fix I'd love to see it!

[2015-09-16 22:27] joshwnj commented on #14
Interesting, thanks for sharing @LoganBarnett

[2015-09-17 14:09] joezimjs commented on #14
@LoganBarnett I had thought of doing something like that, but using temporary directories makes me feel like we're using Grunt again... Part of the reason we use Gulp is to avoid file writes for intermediate steps.

[2015-09-18 05:50] LoganBarnett commented on #14
@joezimjs Agreed re: grunt vs. gulp, but when the alternative is that I can't use a css preprocessor alone, I'll take a grunt-like hack. I'm not familiar enough with gulp's innards nor browserify's to have a clear direction on fixing this. It might also mean that css-modules (or just this plugin) needs to better speak vinyl streams or something. Any insight here would be most welcome!

As for ES6

[2015-09-19 06:22] joshwnj commented on #44
HI @ryngonzalez do you have a repo somewhere that we can get a better look at what's going on?

[2015-09-19 06:50] joshwnj commented on #43
@ryngonzalez please take a look at #46 and let me know if that is a better solution for you. Are there any other options on the other plugins you'd like to be able to set?

[2015-09-19 23:55] ryngonzalez commented on #43
@joshwnj Looking over the core modules and their potential options, I see [`rewriteUrl`](https://github.com/css-modules/postcss-modules-local-by-default/blob/master/index.js#L158-L162); while I don't want to necessarily pass in my own option for this, I think `css-modulesify` should be passing in something to address #42 to do better `composes` resolution that respects `browserify._options.paths`

[2015-09-21 02:00] ryngonzalez commented on #43
Nice, closing with the merge of #46

[2015-09-21 02:00] #43 closed

[2015-10-02 22:26] azevedo-252 commented on #44
@ryngonzalez have you tried loading `cssnext` first, then `autoprefixer`, and finally the others?
`cssnext` includes the plugin [postcss-import](https://github.com/postcss/postcss-import) which recommends loading it as the first plugin in the list.

[2015-10-04 16:55] zaim opened #49 "css-modulesify / autoprefixer postcss version mismatch?"
I got this error while trying to use css-modulesify with autoprefixer: **Your current PostCSS version is 4.1.16, but autoprefixer uses 5.0.8. Perhaps this is the source of the error below.**

Not sure if its something wrong with my browserify command incantation, or what.

Full output below:

[code]

[2015-10-04 23:28] joshwnj commented on #49
@zaim can you please give us a link to the repo so we can see the bug in action?

[2015-10-05 20:07] zaim commented on #49
You mean my project's repo? It's a personal project, not yet open sourced. What kind of information would you need? Maybe I can post my package.json and Makefile in a gist?

[2015-10-05 21:57] joshwnj commented on #49
Yes a gist would be good thanks. Just something so that we can reproduce the bug, and understand all of the factors at play.

[2015-10-07 23:18] themitchy commented on #49
autoprefixer@latest (6.0.3) uses postcss@5.0.8
css-modulesify@latest (0.9.0) uses postcss@4.1.16 (via css-modules-loader-core@0.0.12)

@zaim you can fix this issue by downgrading your autoprefixer (`npm i --save-dev autoprefixer@5.x`). Using the older package isn't ideal but that's how I'm getting around this for now.

@joshwnj you may want to consider updating css-modules-loader-core and subseque

[2015-10-08 16:00] themitchy opened #50 "class names not scoped using the "use" api"
If any plugins are specified via the `use` option, class names will not be scoped. Worse yet it's not plugin specific because an empty array still results in no scoping of classnames.

css:
[code]

plugin configuration:
[code]

With the above the generated css is:

[code]

With `use: [ ]` the class name is still not scoped. With `use` completely removed the class will be scoped correctly.

Seems l

[2015-10-08 18:26] themitchy commented on #50
Nope, I'm dumb. Should be using `postcssAfter` instead of `use`.

[2015-10-08 18:26] #50 closed

[2015-10-08 19:31] themitchy commented on #49
This and many other bugs will get fixed by #47

[2015-10-08 21:21] joshwnj commented on #50
You're right @themitchy , this is a bit confusing because it doesn't make so much sense if `use` drops the very plugins that make css modules work.  We hope to address this point (and some others) when we go to v1.0 (discussion in #29)

[2015-10-12 01:21] #17 closed

[2015-11-01 07:44] chenmnkken opened #52 "Can not use url for load a background image in css?"
When i use url load a background image.
[code]

Then compiler error is:
[code]

How can i resolve this error?

[2015-11-01 07:53] chenmnkken opened #53 "Postcss version error"
My node is 4.2.1 version, npm is 3.3.9. I installed `css-modulesify`, when i run `css-modulesify` in `browserify`, then error is:

I think this is because global `postcss` and `css-modulesify` depend version different, may be this error only in npm 3.x.

[2015-11-01 18:13] bcomnes opened #54 "Works with postcss-modules-values?"
Is there a way to get css-modulesify to work with https://github.com/css-modules/postcss-modules-values ?

[2015-11-01 18:17] bcomnes commented on #54
Looks like there is a branch for it!  My bad.

[2015-11-01 18:17] #54 closed

[2015-11-02 13:17] tinchoz49 commented on #52
This is an error that i found in the postcss-modules-local-by-default [33](https://github.com/css-modules/css-modulesify/issues/33) and was fixed but is seems the module in css-modulesify is not updated.

[2015-11-03 18:00] faergeek commented on #14
What about letting user define which extensions should be transformed?
So we could transform `sass` or `stylus` or whatever to `css`, before `css-modulesify` comes into play.

It's similar to this in webpack:

[code]

You just need to add option to override RegExp here
https://github.com/css-modules/css-modulesify/blob/master/index.js#L74

I think it would be cool if we could set it like this (com

[2015-11-03 22:00] joshwnj commented on #52
Thanks, `css-modulesify` has been upgraded to use the latest dependency - please upgrade to v0.13.0

[2015-11-03 22:00] #52 closed

[2015-11-04 00:28] tinchoz49 commented on #52
thanks @joshwnj !

[2015-11-04 07:14] faergeek commented on #14
After digging a bit deeper I think it's not possible for now, because this module adds its transform earlier than others, so there's a need to make transform separate from plugin itself (just a separate file should work) to add it whenever user wants to.

[2015-11-04 16:38] t128 commented on #53
try updating to the latest *css-modulesify* version.

[2015-11-09 23:41] themitchy opened #58 "composes duplicates dependancies"
If multiple stylesheets are imported (or components importing different stylesheets) and those files compose from a common stylesheet (ie. `icons.css`) then the styles and composes of the common stylesheet will be duplicated for every import.

This [gist](https://gist.github.com/themitchy/b6dcb7fd8c249ab97433) shows a simple jsx which imports 2 modules, each of which imports a stylesheet composing

[2015-11-09 23:43] loklaan commented on #58
Could you try out #57, which should resolve this issue.

[2015-11-09 23:57] themitchy commented on #58
No dice on #57 - still results in dupes of everything in the common stylesheet.

[2015-11-17 16:41] bcomnes opened #59 "Weird interaction with babel"
Here's a fun bug:

[code]

When transforming this with the following options:

[code]
$ browserify -p [ css-modulesify --after autoprefixer -o dist/main.css ] -o dist/bundle.
[code]

[2015-11-19 10:18] joshwnj opened #60 "tests"
Let's get some tests written so that we can avoid regressions to the solutions provided in #32 and #57.

[2015-11-19 10:34] joshwnj commented on #53
@chenmnkken can you please confirm whether this still occurs with the latest version? It should be fixed now that we're on postcss v5

[2015-11-19 10:35] joshwnj commented on #49
@zaim can you please confirm whether this issue is fixed now that we're on postcss v5?

[2015-11-19 11:16] chenmnkken commented on #53
@joshwnj Update the css-modulesify to 0.13.0, it's no problem, thanks.

[2015-11-19 17:31] joeybaker commented on #60
It might be possible to do this with https://github.com/substack/factor-bundle ?

[2015-11-20 01:47] #53 closed

[2015-11-20 11:15] joshwnj commented on #58
@themitchy please take a look at #61 to see whether that fixes the issue.

[2015-11-21 03:56] joshwnj opened #62 "Performance"
- [ ] set up some benchmarking so we can compare performance tradeoffs of different approaches
- [ ] investigate optimisations like as suggested in #61

[2015-11-21 16:42] tinchoz49 opened #63 "Destination CSS file is not updating using watchify"
Hi guys, working with your example: https://github.com/css-modules/browserify-demo
I ran into this problem: using watchify, the event emit 'update' works great but is not updating the dest css file.

run: ```npm start``` and edit a css file from the src folder.
The log gets ``` info browserify: /index.js 682ms (bundle)``` but the dest css file is not changed.

[2015-11-21 19:56] tinchoz49 commented on #63
I found that if you comment the line 47 and 48 of the [file-system-loader](https://github.com/css-modules/css-modules-loader-core/blob/master/src/file-system-loader.js) works.
What is the objetive of create a token based on the filename? If is for caching css files I think is better create a checksum based on the content file.

[2015-11-23 00:00] joshwnj commented on #63
Thanks for reporting this @tinchoz49 . It looks like a solution shouldn't be too tricky but there are a few different factors at play so we'll need to make sure other functionality isn't affected. Would you be interested in helping to put together a failing test case for this bug?

[2015-11-25 09:56] justgook commented on #63
By commenting those lines it updates map, but not rebuild css-file

[2015-11-27 10:52] markuplab commented on #63
Do you need help with this problem? I can try make fixes.

[2015-11-27 11:46] justgook commented on #63
for me it is main stopper to use css-modules in my projects..

[2015-11-28 13:03] joshwnj commented on #63
Thanks for the offer @markuplab - that'd be great, especially if you're able to help with writing a test case for this issue.

[2015-11-28 13:04] joshwnj commented on #63
Status on this: I'm looking into a better way of walking the dependency tree, which I'm hoping will be the key to getting watchify working properly. But my time is limited so if anyone else cares to help that would be greatly appreciated :)

[2015-11-29 04:53] joshwnj commented on #63
From early trials the solution appears to be working :ok_woman: Need to check a few more edges and then will put together a release.

[2015-11-29 05:20] markuplab commented on #63
Ohhh it's amazing :) Can you create PR?

[2015-11-30 04:32] markuplab commented on #63
@joshwnj Hi, can you say, when release with this fix will be ready? We want start project with css-modules, but watchify problem block it, if you have troubles with time, we can fork module and fix it problem, or we can wait when you fix it?

[2015-11-30 12:17] joshwnj commented on #63
@markuplab I've pushed #64, which still has a couple of bugs and failing tests (and I believe will need https://github.com/css-modules/css-modules-loader-core/pull/62 to be merged in order to pass as well).

But even at this point it partly works :) And hopefully it gives you an idea of where it's heading, so please take a look and feel free to fix any bugs you see.  I'm out of time today but hope

[2015-11-30 16:43] snikch commented on #63
@joshwnj I've been watching this issue, and have tried out #64 and this seems to fix the issue for me.

[2015-11-30 16:47] snikch commented on #63
Hrm, I spoke too soon. It will handle a change which it hasn't seen before, but making a change then reverting it will not result in an update.

For example, running with a `padding: 10px`, then changing to `padding: 60px` will correctly rebuild the css, but changing back to `padding: 10px` will not. Updating to a new value, such as `padding: 600px`, will trigger an update.

[2015-11-30 17:13] dubert commented on #14
Any updates here? Will this be a part of 1.0? Currently waiting on this feature.

[2015-12-01 12:56] justgook opened #65 "PostCSS Plugins not work"
i have add `postbuild` script to mimify/autoprefix my css
based on [README](https://github.com/css-modules/css-modulesify#postcss-plugins) there is possibility add those plugins in "--after" argument - but looks like it don't work
or maybe im doing something wrong?
[code]

https://github.com/justgook/sokoban-react

[2015-12-01 14:15] tinchoz49 commented on #65
same problem here! in version 0.13.0 works. Tested with my async postcss plugin ```postcss-copy```.

I think that this commit f9a2ea2825f219b05ddd931c6a1bd3cffdad2709 broke the loader of postcss plugin.

[2015-12-01 14:23] justgook commented on #65
revert / reimplement ?

[2015-12-01 15:19] tinchoz49 commented on #63
works great to me! :+1:

now my problem is the issue #65 :(

[2015-12-01 19:48] themitchy commented on #58
That did it! Thanks @joshwnj !

[2015-12-01 19:48] #58 closed

[2015-12-01 21:22] joshwnj commented on #65
Oh, you're right about that commit breaking it sorry - looks like we're now creating the `loader` _before_ the plugins list has been fully populated.

Will submit a patch today, is anyone able to help with writing a test case along the lines of _"extra postcss plugins are applied"_?

[2015-12-03 00:14] joshwnj opened #66 "Consolidate file-system-loader"
#64 introduced a babelified copy of `file-system-loader.js` from `css-modules-loader-core` as a stopgap while a solution was being worked out.

Once other related issues are resolved we'll need to either PR the new file-system-loader back into core, or at least make our own version which is more pleasant to read.

[2015-12-03 00:20] #63 closed

[2015-12-03 00:27] joshwnj commented on #65
@tinchoz49 / @justgook can you please check #67 to see whether this fixes the issue in your case?

[2015-12-03 03:16] tinchoz49 commented on #65
hi @joshwnj ! with your change the postcss plugins like autoprefixer works great :+1: , but it seems that the async plugins not.

I made an example of one async plugin and the process of css-modulesify never finish.

[code]

[2015-12-03 03:17] tinchoz49 commented on #65
if you want i can upload tomorrow my example repository where i'm testing this things ;)

[2015-12-03 11:01] joshwnj commented on #65
Thanks @tinchoz49 - an example repo would be great.  I think if #67 solves part of the issue I'll go ahead and merge it tomorrow, and we can create a new issue for async plugins.

`postcss-copy` looks cool btw! I'll try it out in my next project.

[2015-12-03 11:06] justgook commented on #65
+1

[2015-12-03 21:51] #65 closed

[2015-12-03 22:12] joshwnj opened #68 "Async PostCSS Plugins"
There is an issue with async PostCSS plugins as described here: https://github.com/css-modules/css-modulesify/issues/65#issuecomment-161503995

[2015-12-03 22:13] joshwnj commented on #65
@tinchoz49 I've created #68 to track a solution to the issue you mentioned with async plugins

[2015-12-04 13:53] tinchoz49 commented on #68
@joshwnj the repository that i told you is ready ;) sorry for the delay.

https://github.com/geut/eg-assets-css-modulesify/tree/fix-async-plugins

[2015-12-05 00:49] joshwnj commented on #68
@tinchoz49 thanks!

[2015-12-09 17:14] snikch opened #69 "`require('…')` call in output contains full filepath"
I've probably configured something wrong here, but I appear to be getting the full filepath in my browserified output. This appears to be limited only to the dependant files, i.e. files that are in `composes` calls. The normal javascript files have the correct, relative, filepaths.

[code]

Any ideas on what I'm doing wrong here?

[2015-12-09 17:34] joeybaker commented on #69
Without seeing your config, it's a bit hard to say, but have you had a look at the [`rootDir` option](https://github.com/css-modules/css-modulesify#options)?

[2015-12-09 18:09] snikch commented on #69
Here's my config. I've also tried with the `__dirname` option to no avail. Note that the class names are correctly relative to the root dir.

[code]

[2015-12-09 18:47] joeybaker commented on #69
Does that mean you tried something like:

[code]

If not, maybe give that a shot?

If so, what's your setup look like?

[2015-12-12 01:21] tinchoz49 commented on #68
hi @joshwnj ! i was testing again the example and i found that the error with postcss-copy was my fault :( (a undefined variable in the example that i didn't see). I really sorry for bothering you.

i'm going to close this issue. Everything is working ok!

Thanks!

[2015-12-13 22:17] joshwnj commented on #68
no worries - glad to hear it :)

[2015-12-13 22:17] #68 closed

[2015-12-14 20:39] robin-barnes-triptease commented on #14
:+1: on wanting this. It's kind of a big deal not to be able to use something like SASS. It works with webpack and css modules.

[2015-12-25 19:04] izeau commented on #44
Using `postcss-cssnext` instead of `cssnext` works wonders for me!

[2015-12-25 21:35] izeau opened #70 "Are sourcemaps available?"
Is there any way to create sourcemaps for generated CSS? I noticed PostCSS handles them, however setting a `map` option to `css-modulesify` doesn’t seem to have any effect. Or maybe I’m doing it wrong?

Any help is appreciated! Very nice lib btw.

[2015-12-25 23:49] izeau commented on #70
If I understand correctly, css-modules/css-modules-loader-core#59 needs to be merged if we want to be able to specify process options.

[2015-12-29 08:51] inoc603 opened #71 "Add doc for the `global` option"
I was trying to use a sub module which imports css, and I kept getting `ParseError: Unexpected token` at the first character of the css file when bundling.

After digging through the tests I found 2 test cases named `import-node-module` and `compose-node-module`, which shows that when dealing with node modules, the `global` option should be set to true.

But the `global` option is not documented i

[2016-01-06 18:01] IanVS commented on #54
@bcomnes, did you get this working?  I'm having difficulty using postcss-modules-values, but I'm likely configuring it incorrectly.  Any tips?

[2016-01-06 18:26] IanVS opened #72 "postcss-modules-values is now included in default plugins"
The [readme](https://github.com/css-modules/css-modulesify#postcss-plugins) does not mention that [postcss-modules-values](https://github.com/css-modules/postcss-modules-values) is now included in the default set of plugins (from [css-modules-loader-core](https://github.com/css-modules/css-modules-loader-core)).

Running with `--after postcss-modules-values` was giving an error, and it took me a w

[2016-01-06 23:28] joshwnj commented on #72
thanks for bringing this up @IanVS . Would you be interested in making a PR to update the readme?

[2016-01-06 23:45] IanVS commented on #72
Sure thing, will do it tonight.

[2016-01-07 03:18] #72 closed

[2016-01-11 23:20] ianstormtaylor commented on #44
@izeau where'd you put `postcss-cssnext` in your case? Can't see to get it working with `--after`.

[2016-01-12 12:31] gimre opened #74 "composes (import) doesn't seem to work at all (on Windows at least)"
Hey, trying to use a simple import statement to import a value from another css file:

**values.css**
[code]

**header.css**
[code]

I'm getting the following error:
[code]

**Notes**:
- ```header.css``` is being imported from a react component as part of a browserify stack
- both css files are in the same directory
- the same thing happens with any ```compose``` statement

Any idea what is wrong

[2016-01-12 15:01] gimre commented on #74
Oh, if i just use a local value it works, no complaints.

[2016-01-12 18:38] tivac commented on #74
`D:\dev\browserify-react\D:\D:\src\components\header\styles.css`

That path looks real broken, which is a problem I've run into before. I can't find the issue any more though :(

[2016-01-12 21:22] gimre commented on #74
Yes, I noticed :( I didn't have enough time to debug the loader mechanism to see where it goes wrong - I had a hunch maybe it's Windows only problem. Anyone? :s

[2016-01-14 18:41] jedrichards commented on #44
It's working alright for me in the cli:

[code]

[2016-01-14 19:13] tjallingt opened #75 "consider Browserify basedir for rootDir"
An example of a relatively common way to call browserify is this:
[code]
Why would you have to specify the `rootDir` when it is probably the same as browserify's `basedir`?
I would suggest to have `css-modulesify` use the `rootDir` when specified, then try the `browserify._options.basedir` and only if that is also not specified use the current folder.

[2016-01-14 19:51] tjallingt opened #76 "Multiple browserify instances get mixed up"
Probably related to #57.

I have a bit strange setup with gulp and browserify but I would still expect the following to work:
[code]

Instead of doing the expected (outputting 'screen.css' and 'remote.css' with their respective contents) it dumps all the css (for both instances) in 'remote.css' and produces an empty 'screen.css'.

When using the `css stream` like so:
[code]
It outputs all of the i

[2016-01-15 16:33] tjallingt commented on #76
Found the source of the issue:
https://github.com/css-modules/css-modulesify/blob/master/index.js#L145-L149

If there are multiple loadersByFile the current loader will be the one that is called last, therefore `Cmify` will use the last added loader, this can be fixed relatively easily by adding the sourcekey to the `Cmify` opts and adding: `var loader = loadersByFile[this.opts.sourcekey]` to insi

[2016-01-15 22:39] tjallingt commented on #74
I have exactly the same issue with the `:import`s not working and the path's being broken... I might look into it later.

Experienced this issue on two windows environments... (both on the `D:/` drive so it might be related to that)

[code]

[2016-01-16 00:22] tjallingt commented on #74
Tried looking into the issue but since I'm not quite clear on how all the components work together I can't seem to pinpoint the issue.
I think it might be related to the `rootRelativePath` inside the `fileSystemLoader` as that variable contains very strange paths (such as `D:\D:\styles-1.css`) but when I try to change it to something more sane the tests stop working without giving me any errors th

[2016-01-16 18:29] tjallingt commented on #74
So after some looking around on the issues and pull requests pages I found out that this issue is probably related to #66, #56 and will be fixed by the pull request made on the `loader-core` [here](https://github.com/css-modules/css-modules-loader-core/pull/59)

Can we get a status update on the status of these changes?

[2016-01-18 09:31] gimre commented on #74
Thanks for following up; hope this gets merged soon - I am sad :( :D

[2016-01-20 09:57] awitherow commented on #14
Any update on this?

[2016-01-26 15:11] huan086 opened #78 "No such file error on Windows"
Error: ENOENT: no such file or directory, open '....the path to output....'

In the output settings, I've set the file to be saved in a folder that does not exists. Expected that the folders are created automatically.

However, I'm getting the above error

[2016-01-27 13:23] huan086 commented on #49
I'm running css-modulesify 0.16.1 with autoprefixer 6.3.1. I don't see the error.

[2016-01-27 13:47] huan086 opened #79 "How to use cssnano plugin?"
In index.js line 121, the array of postcssAfter plugins is compared with function

      plugins = plugins.map(function requirePlugin (name) {
        // assume functions are already required plugins
        if (typeof name === 'function') {
          return name;
        }

However, cssnano returns `postcss()` rather than function, and thus modulesify tries to call `require` on it, causing error.

[2016-01-30 13:34] tjallingt commented on #66
@joshwnj what is the status on this? As I understand it the PR into the core has been made but not approved (as a matter of fact nobody seems to have worked on the loader-core for 2 months).
To me, using windows to develop, this is an issue preventing me from using `css-modulesify` in my projects...

[2016-01-31 23:29] joshwnj commented on #66
@tjallingt thanks for your patience on this - I've been away over the holidays but hoping to make some time early this week to review & get this sorted out.

[2016-01-31 23:33] tjallingt commented on #66
Great, thanks for your response.
Hope you enjoyed your holidays :smile:

[2016-02-03 02:31] #76 closed

[2016-02-03 02:52] joshwnj commented on #75
Good idea. Would you like to make the PR otherwise I'm happy to.

[2016-02-03 10:32] emilbayes opened #80 "Wrong `relativeTo` for `FileSystemLoader`"
It seems that the value `/` has been used as the `relativeTo` argument for the css `FileSystemLoader` causing issues with other postcss plugins such as postcss/postcss-import#167

The issue is here: [`index.js#L166`](https://github.com/css-modules/css-modulesify/blob/95727b4a189055ca398815050a2adbb235556c99/index.js#L166). I don't know what the right value would be, but simply removing the argumen

[2016-02-03 12:29] tinchoz49 opened #82 "question: css-modulesify with postcss-import"
Hi guys, I been trying to use postcss-import with css-modulesify but without success. The plugin is not importing the files at all.
Soo my question here is, someone knows if this plugin works with css-modulesify and how is your configuration?

My idea is use postcss-import to work import my global styles.

[code]

Thanks!!!

[2016-02-09 13:41] emilbayes commented on #82
I don't think this is the right place to ask such questions, but see my issue: https://github.com/css-modules/css-modulesify/issues/80 I have exactly the same issue as you. I chose to fork the repo and apply the fix I propose, unknowing whether it's right or wrong. I think the maintainers are busy working on the spec/core modules :)

[2016-02-09 13:58] tinchoz49 commented on #82
Hi @emilbayes! I didn't know that there was an issue related, I thought that maybe I was doing something wrong in my configuration.
Excellent your pull request, i'm going to wait for that fix.

Thanks!

About if is this the right place or not, there is a label Question to use in this kind of "issue" that's why i wrote it here.

[2016-02-09 13:58] #82 closed

[2016-02-09 14:20] emilbayes commented on #82
@tinchoz49 Arr yeah, I reckon it's just one of the default ones though ... I haven't exactly submitted a PR since it's a hack, until the maintainers tell otherwise

[2016-02-16 05:40] troyastorino opened #84 "Specifying rootDir with linked module breaks css-modulesify"
In a project, I have some components stored in separate modules, and the main module installs those modules in using `npm link` (i.e., creating symlinks to them from `node_modules`). The structure looks like this:

[code]

`main`, `componentA` and `componentB` all use CSS Modules. I'm running `browserify` from of the main module, and have `css-modulesify` configured with `global: true`

I ran into

[2016-02-19 12:31] MrCheater opened #86 "Extensions option is not recognized"
setting extensions to ['.scss'] gives error:

Unexpected token

[2016-02-19 12:31] MrCheater commented on #86
https://github.com/css-modules/css-modules-require-hook#extensions-array

[2016-02-19 13:18] thomaslindstrom opened #87 "Invalid class name when composing from file taking advantage of relative NODE_PATH"
I'm running `browserify` with `css-modulesify` on the command line like this:
`NODE_PATH=$NODE_PATH:./ browserify ... -p [css-modulesify ...] ...`

Consider the following file structure:

[code]

In `user.css`, I'm composing a class from `app/styles.css`, taking advantage of the relative path setup gained from `NODE_PATH` including `./`:

[code]

The resulting class name, on the element, when ran

[2016-02-22 03:08] #75 closed

[2016-02-22 06:20] joshwnj commented on #86
@MrCheater we haven't implemented an `extensions` option yet, did you mean to post this issue on the https://github.com/css-modules/css-modules-require-hook repo instead?

[2016-02-22 09:26] MrCheater commented on #86
I do not want use *.CSS . I want use *.SCSS. For *.CSS WebStorm syntax highlighting wrong. CSS-hook can use options.extensions. CSS-modulesify can not use options.extensions.
We need the support for Filename.ANY_EXTENSION

[2016-03-08 00:17] r-flash commented on #74
Not sure if it's a new information, but i have found a problem here https://github.com/css-modules/css-modulesify/blob/f428deda84b2eda745f7dab233c86f8e99ebb6b0/file-system-loader.js#L72 . On Windows, absolute paths begin with a letter, so this test gives false positive;

The aformentioned loader-core pullrequest is going to have the same issue here https://github.com/sullenor/css-modules-loader-co

[2016-03-08 01:59] joshwnj commented on #74
Thanks for the tip @r-flash .  Yes please report in the loader repo, that will be helpful.

Can you suggest a better approach for determining whether a path is relative or absolute that will work on windows?

[2016-03-08 04:07] tivac commented on #74
@joshwnj [`path-is-absolute`](https://www.npmjs.com/package/path-is-absolute), or just using [`path.isAbsolute`](https://nodejs.org/api/path.html#path_path_isabsolute_path) depending on the node level you support.

[2016-03-08 05:06] joshwnj commented on #74
super helpful, thanks @tivac !

[2016-03-08 06:45] r-flash commented on #74
Just found out this was already taken care of in [this PR](https://github.com/css-modules/css-modules-loader-core/pull/49).

[2016-03-09 16:31] huan086 commented on #79
As of 2016-03-10, the `plugins.map` line has been fixed, and error message is now `{ [TypeError: Cannot read property 'type' of undefined while parsing file: D:\pathtofile\common.css] filename: 'D:\\pathtofile\\common.css',`

[2016-03-10 05:10] huan086 commented on #79
I've managed to get cssnano to work by disabling `postcssDiscardDuplicates` and `postcssDiscardUnused`.

Code as follows

        var b = browserify(entryFiles, assign({}, watchify.args, {
            plugin: [
                [cssModulesify, {
                    output: outputPath,
                    postcssAfter: [
                        autoprefixer({ browsers: ['> 1%', 'IE 9', 'IE 10', 'IE

[2016-03-10 05:10] #79 closed

[2016-03-10 18:51] joshwnj commented on #79
Great to hear you got it working, thanks for sharing the solution @huan086

[2016-03-24 05:39] joshwnj commented on #49
Closing as this is most likely resolved now

[2016-03-24 05:39] #49 closed

[2016-03-29 19:50] tj opened #91 "Composition when using :hover etc"
error: `composition is only allowed when selector is single :local class name not in ":local(.type-hover):hover"`. Still new to css modules but this seems odd, is there a more literal "include" which would work in this scenario? I've hit a few cases where this is a blocker, and I have to go expand all the props

[2016-03-29 20:30] tj commented on #91
Yep! One of my components has an open state, but alternatively hover can be used (.type-hover here), however it errors. `compose` inherits pseudo classes as well? I suppose it makes sense if that's the case, but it would be nice to have an alternative which does not.

[code]

[2016-03-29 21:12] tivac commented on #91
I think you want to add `composes: type-hover;` to the existing definition for `.open`. CSS Modules will turn that into `type-hover open` in your markup, and then the `:hover` state from `.type-hover` will be applied.

If you then want to override the `.type-hover:hover` styling you could define `.open:hover` and put any overrides necessary in there.

[2016-03-29 21:57] tj commented on #91
I guess my non-:hover state for `.type-hover` would just be the same as `.normal`, but that still has the problem of not being able to 'compose' within a `:hover`. I'm probably misusing composition here, I guess I should change the "traits" to have `:hover` state styling.

That's why I thought maybe a simpler `include: ...` which doesn't inherit pseudos might do the trick.

[2016-03-30 00:16] joshwnj commented on #91
This is definitely a point of confusion that a lot of people come across (myself included). One helpful thing to remember about `composes:` is that it doesn't cause any changes to the class definition. All it does is declare a dependency so that the element gets multiple classnames instead of just 1.  When the classname is applied to the element all pseudos of that classname are applied as well.

[2016-03-30 02:25] tj commented on #91
ah yep makes sense, I'll take a look at postcss-extend, I definitely like the `from ...` stuff here. thanks!

[2016-03-30 02:25] #91 closed

[2016-03-30 02:31] joshwnj commented on #91
@tj if you get something nice going with postcss-extend please let us know! :)

[2016-04-05 22:46] kylelamse commented on #71
I agree.  I am trying to figure out anything about it but there is literally no documentation for it.

[2016-04-06 00:12] #71 closed

[2016-04-06 00:13] joshwnj commented on #71
Added in https://github.com/css-modules/css-modulesify/pull/93/files

[2016-04-07 18:08] kylelamse opened #94 "Symlinked local dependencies causes 'ParseError: Unexpected token'"
I have my project structure set up to symlink local dependencies.  Those symlinked dependencies also import css files.  I have an example project linked below so you can see the issue reproduced.  You can bundle with browserify just fine if you import the 'style.css' while working inside the 'styled-component' project, but if you try to use it as a symlinked local dependency using `linklocal`, you

[2016-04-13 16:18] tj opened #95 "CSS values don't cause cascading updates"
Not sure where to report, but I'm seeing that _only_ files that you edit are receiving value (https://github.com/css-modules/postcss-modules-values) changes. Is this the intended behaviour or possibly a bug? Took me a few minutes to realize what was going on, results popping in minutes later. Also if you have a file like colors.css, edit a value, _nothing_ sees the change, until you edit those fil

[2016-04-13 17:42] tivac commented on #95
Are you using `watchify`? It looks like `css-modulesify` doesn't listen for the `update` event from watchify and remove the updated files from its cache.

I ran into that with `modular-css` as well, https://github.com/tivac/modular-css/issues/30 and fixed it by adding an `update` listener to my browserify plugin that removes the changed files from its cache so it can use the updated file contents.

[2016-04-13 18:55] tj commented on #95
Ahh interesting, yep I am using browserify/watchify via the CLI

[2016-04-14 05:55] joshwnj commented on #95
Thanks for reporting it, definitely a bug.

And thanks for the notes @tivac

I haven't looked at fixing this in `css-modulesify` yet, as there are a couple of other improvements to make.  Instead, I've been trying out an alternate approach which is now pretty close to feature parity with `css-modulesify` but fixes things like the bug described here.

There are still some changes I want to make, an

[2016-04-15 20:46] saiichihashimoto opened #96 "Using postcss-cli style config"
In postcss-cli, there's [a config option](https://github.com/code42day/postcss-cli#--config-c) for loading the css from a file instead of as arguments. When using a bunch of postcss plugins, this almost becomes  necessary.

[2016-04-18 23:42] tj commented on #95
hmm seems like it never detects a change to produce the `--output` file actually, refresh works fine but otherwise nothing outputs, preventing things like browsersync from working

[2016-04-19 06:00] joshwnj commented on #95
Interesting, I haven't used browsersync. @tj are you using browsersync in a way that wouldn't also be be suitably solved by [browserify-hmr](https://github.com/AgentME/browserify-hmr)?

[2016-04-19 15:51] tj commented on #95
Is browserify-hmr supposed to support CSS? I was using it for a while but ended up removing it since only it only supports stateful components and I didn't want to sprinkle the 'ud' module all over. I just thought that when you edit the css that it would save out to whatever your `--output` happens to be. I'm not really sure what state of the art is to be honest haha, too many options

[2016-04-27 00:13] saiichihashimoto commented on #96
Actually, it would be quite amazing if this was accomplished like it is in [css-modules-require-hook](https://github.com/css-modules/css-modules-require-hook) with the `cmrh.conf.js` config file.

[2016-04-29 00:47] neurosnap commented on #30
Any updates on this?

[2016-04-29 01:09] joshwnj commented on #30
There are a few things that need to change in order to get `css-modulesify` working with `browserify-hmr`.  Rather than hacking too much on this one I've been experimenting with a rewrite: https://github.com/joshwnj/cmify

You can also take a look at a basic example of hot reloading here: https://github.com/joshwnj/css-modules-starter-kit/tree/hot-reload

There are a few more things I need to look

[2016-05-02 15:36] grsmvg commented on #95
I've got the same issue here. I need to do an additional save on one of the involved CSS files before the result of a changed value in colors.css actually streams to the browser with BrowserSync. Let me know if there are any workarounds! 😄

[2016-05-07 23:15] kylelamse commented on #94
This issue was fixed by enabling the `global` option when using the nodejs API.

[2016-05-25 22:11] #96 closed

[2016-05-25 22:19] saiichihashimoto opened #99 "Doesn't work with postcss-url copy"
The only way I can get `url(...)` to work with css-modulesify is using the suggestion from https://github.com/css-modules/css-modulesify/issues/33#issuecomment-133268106 to copy all the assets over beforehand. However, plugins like postcss-url exist for the specific reason to decide whether or not to copy these assets.

I'm unable to use postcss-url with copy or postcss-copy-assets (or any plugin)

[2016-05-25 22:23] kelseyll commented on #99
⬆️ ⬆️ ⬆️

[2016-05-25 22:32] joshwnj commented on #99
Thanks for reporting @saiichihashimoto. Do you have an example repo or test case that we can use to reproduce this error and investigate more?

[2016-05-25 22:45] saiichihashimoto commented on #99
This is simplified from a private repo, so hopefully there's no typos from modifying it :-)

Build step:
```mkdir -p dist/js dist/css && browserify ./client -o dist/js/script.js --debug --verbose --extension=.jsx --extension=.css -p [ css-modulesify -o dist/css/style.css --after postcss-nested --after cssnano --after postcss-font-magician --after postcss-url --after postcss-cachebuster --cssnano.p

[2016-05-26 04:14] joshwnj commented on #99
Thanks @saiichihashimoto - this is something we definitely want to get working, so will take a look as I have opportunity :)

[2016-05-30 03:38] joshwnj commented on #26
Closing this now that we've got `before` and `after`

[2016-05-30 03:38] #26 closed

[2016-06-01 15:13] mpapousGit commented on #14
We would like to start using css modules as well but at the minute we use bootstrap as the base and less as a preprocessor so we are trying to investigate which is the best way to bring css modules in as well.

[2016-06-03 21:22] jlbrooks opened #100 "Grunt and Async Writing"
When attempting to run css-modulesify as a browserify transform through Grunt using Grunt-browserify, an output file is generated but there is nothing written to it.

Digging into the code, I believe the issue is with the final asynchronous write [here](https://github.com/css-modules/css-modulesify/blob/master/index.js#L221). As noted in the [Grunt docs](http://gruntjs.com/creating-tasks#why-doesn

[2016-06-17 07:33] joshwnj commented on #95
Quick status update, I've got a solution for this working locally that I hope to put into a PR, once I've checked it a bit more thoroughly. So far `@values` are being propagated correctly in things like `browser-sync` and `budo`.

[2016-06-18 01:32] joshwnj commented on #69
I believe this is resolved by using absolute paths, we can reopen if it turns out to be something else.

[2016-06-18 01:32] #69 closed

[2016-06-19 02:27] pixelass opened #102 "build fails in 0.25.0 with react-dom"
* 💖 `0.24.0`
* 💖 `0.25.0`

[code]

* 💖 `0.24.0`
* 💩 `0.25.0`

[code]

[code]

Using any command similar to this one I found in a demo

[code]

The same issue occurs if I put the transforms in the package.json

[code]

[2016-06-19 23:30] joshwnj commented on #102
@pixelass thanks for reporting, from what I can see it looks like there was an issue with the stream not ending properly.

Could you please try upgrading to v0.25.1 and let me know if that fixes it?

[2016-06-20 05:31] pixelass commented on #102
Seems to work fine.  Thx

[2016-06-20 06:32] #102 closed

[2016-06-25 11:22] joshwnj commented on #59
Hi @bcomnes I believe this is just a general babel thing, aside from css-modulesify. Eg:

https://babeljs.io/repl/#?evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage-2&code=var%20a%20%3D%20b%20%3D%20'c'%0A

[code]

Gives `b is not defined`

It's because `a` has been declared as a `var` but `b` is treated as a global.

[2016-06-25 11:22] #59 closed

[2016-07-12 07:14] huan086 opened #103 "Multiple browserify instances with same dependencies causes missing CSS"
Bundle1: A.js depends on A.css
Bundle2: B.js depends on A.js

Browserify transform only calls transform on A.css **once**. Due to loader.tokensByFile populated during transform phase, the tokens are loaded into Bundle1's loader. Bundle2's loader thus do not have the tokens.

It looks like the correct place to get dependencies is `bundle.pipeline.get('deps')`

[2016-07-12 10:15] joshwnj commented on #103
Thanks for reporting this @huan086 . If you'd like to try creating a failing test case that'd be helpful too

[2016-07-12 14:29] huan086 commented on #103
Hmm, can't reproduce with browserify and css-modules alone. Might be some plugins having conflicts, let me investigate further.

[2016-07-12 16:09] huan086 commented on #103
Sorry, it wasn't a problem with modulesify. Found the root cause to be how I've specified my options.

I'm using multiple browserify instances with watchify. I've initialized browserify with

`browserify(files, assign({}, watchify.args, { plugin: browserifyPlugins }))`

Specifying `watchify.args` causes all the browserify instances to share the same `cache: {}, packageCache: {}`, causing browserif

[2016-07-12 16:09] #103 closed

[2016-07-12 18:26] MaffooBristol opened #104 "Prevent scoped class names via CLI"
Hello,

I'm using css-modulesify like so:

[code]

... along with the require code:

[code]

... however, this creates scoped class names such as `._node_modules_react_virtualized_styles__FlexTable__headerColumn`, which breaks the CSS for the module. Please bear in mind that I'm quite new to react and browserify so I may just be being thick.

Is there a way of turning off the scoping from the comm

[2016-07-12 22:59] joshwnj commented on #103
Good find!

[2016-07-19 07:33] juliankrispel commented on #42
@ryngonzalez this isn't actually fixed right?

[2016-08-30 14:01] chielkunkels opened #105 "jsonOutput doesn't play well with watchify + symlinks"
Hi there, I'm having an issue with css modules when used in combination with watchify.

The problem seems to be that on the first run, symlinks don't get resolved properly, but they do on subsequent runs triggered by watchify. This leads to paths varying between runs and the styles.json not being output correctly.

### Example

Let's say I have the file `./dist/app/styles/app.css`, which is also s

[2016-08-30 14:17] chielkunkels commented on #105
Alright, so starting debugging at the top of the chain helps a lot. It looks like the path passed in by `browserify`/`watchify` is already wrong. The first time it's the unresolved path, and the second time the symlink has been resolved.

I'll go look into browserify and see if I can figure out why this happens.

[2016-08-31 00:21] joshwnj commented on #105
Thanks for the report @chielkunkels , I'll see if I can find some time to take a look :) But otherwise please let us know what you find in the meantime.

[2016-08-31 07:45] chielkunkels commented on #105
@joshwnj thanks for the quick reply. Sadly I didn't have too much time to look into it yesterday, since I encountered this during working hours. I did try debugging the browserify code a bit, but I find it quite difficult to grasp.

Though I have used browserify for over 4 years now, I've never had to write a browserify plugin so that is also kinda new territory to me.

In all the places I've trie

[2016-09-08 15:53] grid23 opened #106 "(wrong manip)"

[2016-09-08 15:54] #106 closed

[2016-09-19 03:56] spenserw commented on #95
@joshwnj What is the status on that PR?

[2016-09-19 06:57] joshwnj commented on #95
@spenserw ow, it's been a while hasn't it :P Life got suddenly busy. I'll put some more heat on this one.

[2016-10-05 02:46] joshwnj commented on #95
@spenserw back from holidays now :) when you have a moment could you please try #108 and let me know if it's working for you?

[2016-10-05 18:29] spenserw commented on #95
@joshwnj Will try as soon as I get a chance, thanks for the quick turnaround time!

[2016-11-23 18:42] stoarca commented on #104
I'm also having trouble with the same issue. I'd like to disable the mangled class names for a single file that I'm importing.

[2016-11-24 04:00] joshwnj commented on #104
Currently it's possible to use https://github.com/postcss/postcss-nested to allow marking blocks as "global".  Eg.

[code]

The output will contain `.a` and `.b`, without any scoping.

Ideally we'd be able to do

[code]

however it looks like there are some ordering issues around that. Something to look into!

[2016-12-05 14:43] wujohns opened #109 "how to use it like css-loader"
when using css-loader the css style which is required will be writen in a style tag. But using css-modulesify needs to set the param 'output' to modify the css file path. Is there anyway to write the css complied by  css-modulesify into the style tag when the target page loaded

[2016-12-05 21:17] joshwnj commented on #109
@wujohns not at present - however this wouldn't be a difficult feature to add :)

[2016-12-06 01:12] wujohns commented on #109
@joshwnj thank you, I will try making the PR  — —×, But it maybe take me a few weeks

[2016-12-06 01:13] joshwnj commented on #109
@wujohns go for it! :) and let me know if you need a hand at any point

[2016-12-12 09:10] wujohns commented on #109
There is little document about how to build the browserify plugin. I do some try to understand the code of css-modulesify but get little effect. I need some links or keywords about building browserify plugin(like how to insert code into the browserify stream). I write a [https://github.com/wujohns/browserify-plugin-learn](learning project) to get it

[2016-12-12 09:40] wujohns commented on #109
Form the cmify.js, I get that you custom the method '_transform' and ' _flush' of stream to build the transform for browserify. I just find the introduction in the nodejs apis document. I think the point to make headway is testing it (stream.tranform). So I want to finish the plugin building learning at first

[2016-12-17 10:40] tai2 opened #110 "Let users choose file extension"
I would like to use `.pcss` instead of `.css` as the PostCSS organization [officially suggests](https://twitter.com/PostCSS/status/661645290622083073).

What do you think about adding an option to specify file extension?

[2016-12-18 21:37] joshwnj commented on #110
@tai2 sure, I'd be ok with this - and it wouldn't be too hard to introduce that option.

Would you like to try creating a PR for it? I'd be happy to help if you get stuck at any point.

[2016-12-20 01:07] tai2 commented on #110
I'll try it. Pleas wait a moment.

[2017-01-03 03:58] joshwnj commented on #110
Thanks @tai2 , this is published to npm as v0.27.0

[2017-01-03 03:58] #110 closed

[2017-01-10 11:06] wujohns commented on #109
@joshwnj I create a pr about it just now.After learn the knowlege about it,I found the project is kind of messed,if you have a plane to rewrite some part of this project I am pleasure to help it.(like eslint,Cmify...)

[2017-01-10 11:20] wujohns commented on #109
Learning browserify‘s plugin building and this project(includ projects it depends) take a lot of time. And I have a plan to write a new project to support less in js(maybe: less-modulify).There are two choices about it:
1.transform less to css then use css-modulify
2.write a less plugin (something like postcss-scope)  and make it independent

[2017-01-11 00:10] joshwnj commented on #109
Awesome, I'll take a look

you're right, there are some pretty messy parts :) I am hoping to do a rewrite and major-version-bump some time soon, so your help will be appreciated then, thanks.

Yeah, it was a while ago when I learned this, and so I don't recall exactly where I found the info. One good place to start is https://github.com/substack/browserify-handbook

In particular, read the section

[2017-01-18 13:01] sandnuggah commented on #80
Any updates on this issue?

[2017-02-06 01:42] wujohns commented on #109
Because of some working reason.I write a plugin for less and do some working for it to support css module and soucemap feature. the link is [less-modulesify](https://github.com/wujohns/less-modulesify)

[2017-02-06 01:47] wujohns commented on #14
I do some try for less in [less-modulesify](https://github.com/wujohns/less-modulesify)

[2017-04-27 12:50] ashnur commented on #14
I am curious if anyone knows what would be required in order for this to happen?
I would like to use bulma as a css module with browserify.

[2017-05-07 20:19] mxl opened #114 "Loading CSS modules from a different root"
I use CSS modules with TypeScript (with https://github.com/Quramy/typed-css-modules).
TypeScript modules are transpiled to separate directory (`dist/tsc`). This does not copy CSS modules to that directory so when I try to run browserify with css-modulesify plugin (`rootDir` option is `dist/tsc`) I get `Cannot find module` error.

Of course, if I copy CSS modules to `dist/tsc` before running browes

[2017-05-16 09:54] pixelass commented on #78
Do you use any plugins? I get a similar/same error when using postcss-modules https://github.com/css-modules/postcss-modules/issues/62

[2017-05-16 09:58] pixelass commented on #44
Here's a boilerplate that supports cssnext with this library. https://github.com/pixelass/npm-boilerplate

Here's a react/redux boilerplate with more config: https://github.com/pixelass/redux-react-boilerplate

Both work out of the box and need no config. I simply added it in the `after` array.

[2017-05-16 10:03] huan086 commented on #78
In the end I used `mkdirp` module to create the folders before running browserify.

Anyway, I've since migrated to webpack. The community around browserify seems to have disappeared.

[2017-05-16 10:19] pixelass commented on #78
I am also having a lot of issues with browserify and compatibility but webpack is too much of an abstraction to me.

[2017-05-16 10:34] huan086 commented on #78
I find the latest version is very similar to browserify + things in gulp like uglify.

Only complaint is that after transforming css through PostCSS loader, webpack would bundle it within your JavaScript output, which you then need ExtractTextPlugin to take it out again.

[2017-05-17 16:36] pixelass commented on #70
Any news on this?  https://github.com/css-modules/css-modules-loader-core seems to be abandoned (https://github.com/css-modules/css-modules-loader-core/issues/174)

[2017-05-17 23:23] joshwnj commented on #70
@pixelass seeing as `css-modulesify` needs its own copy of `css-modules-loader-core/file-system-loader.js` anyway (as there were some slight differences in the approach) we might be best to factor out that dependency.

I'm a bit squeezed for time but happy to do what I can to help push this forward :)

[2017-05-18 01:09] pixelass commented on #70
@joshwnj thx for the reply. I am currently looking into the code to see if I can help.

[2017-06-29 10:26] Nimelrian commented on #74
Any updates on this? Being unable to use one of the best features of CSS modules on a whole OS is kinda frustrating.

[2017-07-02 22:30] pixelass opened #116 "selectors are prefixed (sometimes)"
I have seen this several times and am unsure what causes this.

[code]

[code]

I use cssnext. The resulting CSS is as expected but I get these unneeded and potentially dangerous mappings.

[code]

[code]

[code]

https://github.com/pixelass/paraglider/blob/master/docs/index.json
https://github.com/pixelass/paraglider/blob/master/docs/index.js#L10

[2017-07-04 00:10] joshwnj commented on #74
I think I can take a bit of time later today to put together a PR based on the suggestions in this thread (but if anyone else beats me to it that's cool too :P )

And then I'll ask for your help to test on windows @Nimelrian :) Thanks for your interest in getting this resolved

[2017-07-04 05:57] joshwnj commented on #74
@Nimelrian when you have a moment could you please check whether #117 fixes the issue? There might be more to it, but this will at least fix one of the windows compatibility issues as pointed out by others in the thread above.

[2017-07-04 07:21] Nimelrian commented on #74
@joshwnj See my comment in the PR.

[2017-07-04 07:29] joshwnj commented on #74
@Nimelrian thanks for the notes in the PR. Would you also be able to create a small github repo with those files, so we can test against that failing case more easily?

[2017-07-04 07:30] joshwnj commented on #74
I wonder if travis-ci (or equivalent) has an option to build on a windows machine? Anybody have an idea of how we could set up something like that?

[2017-07-04 07:46] Nimelrian commented on #74
Test repo:
https://github.com/Nimelrian/css-modulesify-windows-test

travis-ci can not build on Windows AFAIK.

Jenkins can for sure if you have the building node running on Windows.

[2017-07-04 08:10] Nimelrian commented on #74
@joshwnj The problem definitely lies either in `loader.fetch` or the way you call it. I'm not sure if it is really correct to call fetch with '/' as the relativeTo parameter when the relative filename is not relative to '/' but to CMify's rootDir.

Edit: I think there's also a problem with the way `relativeDir`, `rootRelativeDir`, `rootRelativePath`, `fileRelativePath` in file-system-loader.js are

[2017-07-08 00:38] joshwnj commented on #74
Sorry I haven't been able to dig further into this. I'm OOO all next week, so been busy getting ready for that :)

If anyone else would like to step in and figure out the next piece of this, please feel free :)

[2017-10-26 21:56] klarkc commented on #104
@joshwnj How can I use the global with ES6 modules?

In my code I have:
[code]

that build to a bundle.css. But the bundle have the prefixes.

with postcss-nested I should use this?

[code]

[2017-10-27 13:48] klarkc commented on #104
I found this answer: https://github.com/postcss/postcss-import/issues/179#issuecomment-264287790

But it seems not working with css-modulesify:

[code]

[2017-10-27 14:17] klarkc commented on #104
I found a workaround using generateScopedName option:

[code]

[2017-12-04 10:12] #86 closed

[2018-05-02 20:27] ghost opened #119 "Access to result of postcss"
is there possibility to access to result of postcss plugins?

I'm using postcss-import plugin and need to watch(watchify) every file imported by @import call in css.

Example below, but with css-modulesify don't know how to do it.

[code]

[2018-06-26 17:03] pixelass commented on #116
Moving away from Github. Feel free to reopen if interested.

[2018-06-26 17:03] #116 closed

[2019-10-28 11:26] #87 closed